.container {
  position: relative;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Set height to 100% of viewport height */
  margin: 0 auto;
}

.styledTable {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.styledTable th,
.styledTable td {
  text-align: left;
  padding: 0;
}

.styledTable th {
  background-color: #fcf3cf;
  border: 2px solid black;
  font-weight: 900;
}

.styledTable tr {
  background-color: #f2f2f2;
}

.price {
  background-color: lightgreen;
}

.styledTable td:nth-child(even) {
  border-right: 2px solid black;
}

.icon {
  color: lightgreen;
}
div {
  display: flex;
  padding: 0;
}
.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 25px;
  color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
}
